{% load static %}

<link rel="stylesheet" href="{% static 'css/navbar.css' %}">

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <div class="container">
        <!-- Brand -->
        <a class="navbar-brand fw-bold me-4" href="{% url 'home' %}">
            <img src="{% static 'images/white-logo.png' %}" alt="Axis & Arbor Logo" width="30" height="30"
                class="d-inline-block me-2">
            Axis & Arbor
        </a>

        <!-- Toggler -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Nav links -->
        <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ms-auto mb-2 mb-lg-0">
                {% comment %} Safely get current URL name {% endcomment %}
                {% with request.resolver_match.url_name|default_if_none:'' as current_url %}

                <li class="nav-item mx-2">
                    <a class="nav-link {% if current_url == 'home' or request.path == '/' %}active{% endif %}" href="{% url 'home' %}">
                        <i class="fa fa-home me-1"></i>Home
                    </a>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link {% if current_url == 'product_list' %}active{% endif %}" href="{% url 'product_list' %}">
                        <i class="fa fa-cubes me-1"></i>Products
                    </a>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link {% if current_url == 'about' %}active{% endif %}" href="{% url 'about' %}">
                        <i class="fa fa-info-circle me-1"></i>About
                    </a>
                </li>

                <li class="nav-item mx-2">
                    <a class="nav-link {% if current_url == 'contact' %}active{% endif %}" href="{% url 'contact' %}">
                        <i class="fa fa-phone me-1"></i>Contact
                    </a>
                </li>

                {% endwith %}

                {% if user.is_authenticated %}
                    <li class="nav-item mx-2">
                        <span class="nav-link disabled text-light">Welcome, {{ user.username }}</span>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="btn btn-outline-light btn-sm" href="{% url 'logout' %}">Logout</a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link" href="{% url 'cart:view_cart' %}">
                            Cart
                            {% if cart_total_items > 0 %}
                                <span class="badge bg-primary">{{ cart_total_items }}</span>
                            {% endif %}
                        </a>
                    </li>
                {% else %}
                    <li class="nav-item mx-2">
                        <a class="nav-link {% if current_url == 'login' %}active{% endif %}" href="{% url 'login' %}">
                            <i class="fa-solid fa-right-to-bracket me-1"></i>Log In
                        </a>
                    </li>
                    <li class="nav-item mx-2">
                        <a class="nav-link {% if current_url == 'signup' %}active{% endif %}" href="{% url 'signup' %}">
                            <i class="fa-solid fa-user-plus me-1"></i>Sign Up
                        </a>
                    </li>
                {% endif %}
            </ul>
        </div>
    </div>
</nav>
