{% extends 'base.html' %}

{% block title %}
Product Details - {{ product.name }}
{% endblock %}

{% load static %}
{% block css %}
<link rel="stylesheet" href="{% static 'css/details.css'%}">
{% endblock %}


{% block content %}
<div class="product-details">
    <h1>{{ product.name }}</h1>
    <img src="{{ product.image.url }}" alt="{{ product.name }}">
    <p>{{ product.description }}</p>
    <p>Price: ${{ product.price }}</p>
    {% if product.stock > 0 %}
    <span class="badge bg-success">In Stock</span>
    <a href="{% url 'cart:add_to_cart' product.id %}" class="btn btn-outline-primary btn-sm mt-2 mt-sm-0">
        Add to Cart
    </a>
    {% else %}
    <span class="badge bg-danger">Out of Stock</span>
    <button class="btn btn-outline-secondary btn-sm mt-2 mt-sm-0" disabled>
        Out of Stock
    </button>
    {% endif %}
</div>
{% endblock %}